/* Portadas */
.container-portada{
    width: 100%;
    height: 500px;
    position: inherit;
    background-image: url(../Pokedex/Imagenes/Portada.webp);
    background-color: rgb(85, 85, 85);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 200;
    display: flex;
}

.container-portada-buscar{
    width: 100%;
    height: 500px;
    position: inherit;
    background-image: url(../Pokedex/Imagenes/Buscar.webp);
    background-color: rgb(85, 85, 85);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 200;
    display: flex;
}

.container-info-portada{
    width: 850px;
    height: 200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);   
    background-color: rgba(0, 0, 0, 0.479); 
    border: solid rgba(255, 255, 255, 0.76);
}

.container-info-portada p{
    font-size: 17px;
    font-weight: 200;
}


/* Rotación de pokebola */
.iconify-inline{
    animation: rotate 1.5s linear infinite; 
  }
  @keyframes rotate{
    to{ transform: rotate(360deg); }
  }


/* Portada */
